@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Calibre-Semibold";
  src: url("./fonts/calibre-test-semibold.woff");
}
@font-face {
  font-family: "Calibre-Regular";
  src: url("./fonts/calibre-test-regular.woff");
}
p{
  font-family: "Calibre-Regular";
}
.st0 {
    stroke-width: 5;
    stroke-miterlimit: 10;
  }
  
  .st1 {
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  
  .st2 {
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .face{
    opacity: 0;
  }